<nav class="navbar navbar-expand-lg">
  <div class="container">
    <%= render "shared/logo.html.erb" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggle-nav" aria-controls="toggle-nav" aria-expanded="false" aria-label="Toggle Navigation">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

    <div class="collapse navbar-collapse" id="toggle-nav">
      <ul class="navbar-nav mr-auto">
        <% if @current_page %>
          <li class="nav-item active current-page">
            <a class="nav-link <%= 'nav-title-highlited' if @current_page != t('home.navigation.view_mappings') %>">
              <%= @current_page %>
            </a>
          </li>
        <% end %>

        <% if @current_page == t('home.navigation.view_mappings') %>
          <li class="nav-item">
            <button class="btn btn-outline-secondary" type="button">
              <%= t('home.navigation.map_specification') %>
            </button>
          </li>
        <% end %>

        <% if @current_page == t('mapping.map_specification') %>
          <li>
            <%= render "shared/stepper.html.erb" %>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <% if user_signed_in? %>
              <%= link_to "Sign Out", destroy_user_session_path, { :method => :delete, :class => "btn btn-outline-secondary" } %>
          <% else %>
            <%= link_to "Sign-In", new_user_session_path, { :class => "btn btn-dark" } %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>