<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <section>
        <h6>
          <%= t('home.body.view_specification_title') %>
        </h6>
        <p>
          <%= t('home.body.view_specification_description') %>
        </p>
        <button class="btn btn-dark" type="button">
          <%= t('home.body.view_specifications') %>
        </button>
      </section>
      <section>
        <h6>
          <%= t('home.body.map_specification_to_t3') %>
        </h6>
        <p>
          <%= t('home.body.map_specification_description') %>
        </p>
      </section>
      <section>
        <ol class="usage-explanation">
          <li>
            <%= t('home.body.upload_specification') %>
          </li>
          <li>
            <%= t('home.body.coarse_grain_mapping') %>
          </li>
          <li>
            <%= t('home.body.fine_grain_mapping') %>
          </li>
          <li>
            <%= t('home.body.download_mapping') %>
          </li>
        </ol>
      </section>
      <section>
        <button class="btn btn-dark" type="button">
          <%= t('home.body.start_mapping') %>
        </button>
      </section>
    </div>

    <div class="col-lg-6 right-side-col">
      <section>
        <h6>
          <%= t('home.body.about_the_project') %>
        </h6>
        <p>
          <%= t('home.body.about_the_project_p1') %>
        </p>

        <p>
          <%= t('home.body.about_the_project_p2') %>
        </p>

        <p>
          <%= t('home.body.about_the_project_p3') %>
        </p>

        <h6>
          <%= t('home.body.about_the_project_subtitle') %>
        </h6>
        <p>
          <%= t('home.body.about_the_project_subtitle_content') %>
        </p>
      </section>
    </div>
  </div>
</div>