<div class="container dashboard-container">
  <div class="row">
    <div class="col-lg-12 mx-auto">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-building"></i>
          <strong>
            <%= t('dashboard.users.edit') %>
          </strong>
        </div>
      </div>

      <div class="card-body">
        <p class="mandatory-fields-notice">
          <%= t('dashboard.general.mandatory_fields') %>
        </p>

        <div class="col-sm-6">
          <%= form_with(model: @user, url: "/admin/users/#{@user.id}", method: "put", scope: "user") do |f| %>
            <div class="form-group">
              <label>
                <%= t('dashboard.users.attributes.fullname') %>
                <span class="text-danger">*</span>
              </label>
              <%= f.text_field :fullname, class: "form-control", placeholder: "Enter the fullname for the user", required: true %>
            </div>

            <div class="form-group">
              <label>
                <%= t('dashboard.users.attributes.email') %>
                <span class="text-danger">*</span></label>
              <%= f.email_field :email, class: "form-control", placeholder: "Enter the email for the user", required: true %>
            </div>

            <div class="form-group">
              <label>
                <%= t('dashboard.users.attributes.organization') %>
                <span class="text-danger">*</span>
              </label>
              <%= select(:user, :organization_id, @organizations.collect { |o| [ o.name, o.id ] }, { include_blank: 'Select an organization' }, class: "form-control", required: true) %>
            </div>

            <div class="form-group">
              <label>
                <%= t('dashboard.users.attributes.role') %>
                <span class="text-danger">*</span>
              </label>
                <%= select("", :role_id, @roles.collect { |r| [ r.name, r.id ] }, { include_blank: 'Select a role for this user' }, class: "form-control", required: true) %>
            </div>

            <div class="form-group">
              <%= f.submit t('dashboard.general.send'), class: 'btn btn-dark' %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
