<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/admin">
          <i class="fa fa-home" aria-hidden="true"></i>
          <%= t('dashboard.sidebar.home') %>
        </a>
      </li>
      <li class="nav-item">
        <%= link_to admin_organizations_path, :class => "nav-link" do %>
          <i class="fa fa-building" aria-hidden="true"></i>
          <%= t('dashboard.sidebar.organizations') %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_users_path, :class => "nav-link" do %>
          <i class="fa fa-users" aria-hidden="true"></i>
          <%= t('dashboard.sidebar.users') %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>