<!DOCTYPE html>
<html>
  <head>
    <title>T3 Converter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/alerts.html.erb" %>

    <%= render "shared/admin/navbar.html.erb" %>

    <div class="container-fluid">
      <div class="row">

      <%= render "shared/admin/sidebar.html.erb" %>

        <main role="main" class="main col-lg-12">

          <%= yield %>

        </main>
      </div>
    </div>

  </body>
</html>
