<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DESM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>
  <body
    class="h-100"
    data-configuration-profile="<%= current_configuration_profile&.as_json(only: [:id, :name])&.to_json %>"
    data-lead-mapper="<%= current_configuration_profile_user&.lead_mapper? %>"
    data-logged-in="<%= current_user.present? %>"
    data-organization="<%= current_organization&.to_json %>"
  >
    <%= yield %>
  </body>
</html>
