<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DESM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0..1,0&icon_names=account_tree,arrow_split,chevron_left,chevron_right,download,filter_alt,help,info,keyboard_arrow_up,menu,search">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true %>
  </head>
  <body
    class="h-100"
    data-configuration-profile="<%= current_configuration_profile&.as_json(only: [:id, :name])&.to_json %>"
    data-lead-mapper="<%= current_configuration_profile_user&.lead_mapper? %>"
    data-logged-in="<%= current_user.present? %>"
    data-organization="<%= current_organization&.to_json %>"
    data-shared-mappings="<%= ConfigurationProfile.active.with_shared_mappings.order(:name).select(:name, :id).as_json(only: [:name, :id]).to_json %>"
  >
    <%= render "shared/impersonation_status" %>
    <%= yield %>
    <div id="app"></div>
  </body>
</html>
